
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');



body{
  padding: 0px;
  margin: 0px;
}
nav{
  background-color: black;
  color: white;
  padding:8px;
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}
button{
  height: 4rem;;
  color: white;
  border-radius: 15px;
  font-size: 22px;
  border: 0px;
  padding: 1rem;

}
.benne-regular {
  font-family: "Benne", serif;
  font-weight: 400;
  font-style: normal;
}




main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  min-height:100vh ;
}
.btn1{
background-color: black;
border: 2px white solid;

}

.btn2{
  background-color: blue;

  
}
.btn2:hover{
  background-color: white;
  color: black;
}
.btn2:active{
  background-color: blueviolet;
}       

.nav_link{
  color: white;
}

 .flex_btn{
  display: flex;
gap: 10px;
 
 }
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(218,219,241);
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.hero>h1{
  font-size: 70px;
  font-weight: 300;
}
.hero>input{
  height: 4rem;
  width: 50%;
  font-size: 20px;
  border: 1px black solid;
  padding: 0.5rem;
}

.info{
  padding: 6rem;
  margin: 6rem;
}
 
.grid_container{
  display: grid;
grid-template-columns: 1fr 1fr;
  padding-inline: 8rem;
  gap: 4rem;
 
}
.grid_item{
  display:flex;
  gap:3px
}

.grid_item>p{
  font-size: 24px;
  line-height: 0.5;
}
.flex-item{
  padding-left: 15px;
  display: flex;
  flex-direction: column;

}
.flex-item>p{
  font-size: 24px;

}
.flex-item>h2{
  font-size: xx-large;
}